<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up for Griff Tracker Alerts</title>
    <style>
        /* Style for navigation bar */
        nav {
            background-color: #007bff;
            overflow: hidden;
        }
        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        nav a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/calendar">Calendar</a>
        <a href="/notifications">Email Notifications</a>
    </nav>
<body>
    <h1>Enter your email address and name to subscribe to the Griff Tracker!</h1>
    <form action="{{ url_for('email_notifications') }}" method="post">
        <label for="submit_email"></label><br>
        <input placeholder="Email" type="text" autocomplete="off" name="submit_email" required>
        <label for="submit_fname">First Name</label><br>
        <input placeholder="First Name" type="text" autocomplete="off" name="submit_fname" required>
        <label for="submit_lname">Last Name</label><br>
        <input placeholder="Last Name" type="text" autocomplete="off" name="submit_lname" required>
        <input type="submit" value="Submit">
    </form>

</body>

</html>