<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <style>
        /* Style for navigation bar */
        nav {
            background-color: #007bff;
            overflow: hidden;
        }
        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        nav a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/calendar">Calendar</a>
        <a href="/notifications">Email Notifications</a>
    </nav>
<body>
    <h1>Enter your email address to subscribe to the Griff Tracker</h1>
    <form action="{{ url_for('subscribe') }}" method="post">
        <label for="email">Email: required</label><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>