<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribing from the Griff Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/calendar">Calendar</a>
        <a href="/notifications">Email Notifications</a>
        <a href="/unsubscribe">Unsubscribe</a>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
<body>
    <h1>To unsubscribe from Griff Tracker Alerts, Please Enter Your Email</h1>
    <form action="{{ url_for('email_unsubscribe') }}" method="post">
        <input placeholder="Email" type="text" autocomplete="off" name="unsub_email" required>
        <input type="submit" value="Submit">
    </form>

</body>

</html>